        <h1 class="main--title">Login API Example with Form</h1>
        <form id="myForm">
            <label for="email">Username:</label>
            <input type="text" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="text" id="password" name="password" required>

            <button type="submit">Submit</button>
        </form>
        <button id="logout" type="button">Logout</button>

        <div class="flex-center full-height">
            <div class="content">
                <a href="#" id="start">42Login</a>
                <div id="error" class="hidden">
                    <h2>Error</h2>
                    <div id="error_details" class="code"></div>
                </div>
            </div>
        </div>
