.profile-container {
	overflow:auto;
	transition: height 0.5s linear, width 0.5s linear;
	background-color:#F8F8F8;
	color:rgb(49,49,49);

}

.profile-not-authorised, .profile-inner-container {
	height:100%;
	width:100%;
}

.profile-not-authorised {
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	font-size: 3rem;
}

.profile-expand {
	font-size: 2rem;
}
.profile {
	padding:0.5rem;
	font-size: 0.9rem;
}

.profile-refresh {
	font-size: 1.25rem;
}

.profile button {
	border:0;
	background-color:transparent;
}

.profile-data {
	margin:0.5rem 0;
	display:grid;
	grid-template-areas: 
		'img username'
		'img nickname'
		'img upload'
}

.profile-username {
	margin:0.1rem 0.25rem;
}

.nickname-submit, .img-upload {
	display:flex;
	margin:0.1rem 0.25rem;
}
.nickname-submit {
	grid-area:nickname;
}
.img-upload {
	grid-area:upload;
}

.profile-image{
	height:3.5rem;
	width:3.5rem;
	border-radius:3rem;
	margin:0.25rem 0.5rem;
	grid-area:img;
}

#profile-nickname-input {
	width:187px;
	background-color:transparent;
	border:0;
	color:rgb(49,49,49);
	border-bottom:1px solid rgb(143,143,143);
}

#profile-img-upload {
	width:180px;
}

.friend-request {
	margin:0.5rem 0;
	display:grid;
	grid-template-columns: auto;
	max-height:3rem;
	color:white;
	overflow:auto;
	
}
.friend-request button {
	color:white;
	border-radius:0.25rem;
}


.friend-request-item {
	margin:0.25rem 0;
	padding:0.25rem;
	border-radius:0.25rem;
	background-color:rgb(177,177,177);
	display:grid;
	grid-template-areas: 
		'friend-img friend-username friend-username'
		'friend-img friend-accept friend-decline'
}

.friend-request-item .friend-decline {
	margin-left:0.25rem;
}

.profile-error {
	color:#ffbb00;
}

.friend-request-img {
	margin:0.25rem auto;
	grid-area:friend-img;
}

.friend-request-img img{
	height:2rem;
	width:2rem;
	border-radius:2rem;
}

.friend-username {
	margin:0;
	grid-area:friend-username;
}
.friend-request .friend-accept {
	grid-area:friend-accept;
	color:#ffbb00;
	border:1px solid #ffbb00;
	
}
.friend-request .friend-decline {
	grid-area:friend-decline;
	background-color:#ffbb00;
}

.profile-match-history-container {
	padding:0.25rem;
	background-color:white;
	color:rgb(49,49,49);
	margin:0.5rem 0;
}

.profile-match-history-header {
	margin:0.5rem 0;
}

@media (min-width:577px){
	.friend-request {
		margin:0.25rem 0;
		display:inline-block;
	}
	.friend-request-item {
		min-width:260px;
	}
	.profile-match-history-container {
		min-width:260px;
	}
	.profile-error {
		min-width:260px;
	}
}

@media (min-width:993px) {
	.profile-not-authorised {
		font-size: 4rem;
	}
	.profile {
		font-size: 1rem;
		padding:1rem;
	}
	#profile-nickname-input, #profile-img-upload {
		font-size: 1rem;
		width:250px;
	}
	#profile-nickname-input {
		width:245px;
	}
	#profile-img-upload{
		width:238px;
	}
	.profile-image{
		height:4.5rem;
		width:4.5rem;
		border-radius:4.5rem;
		margin:0.5rem 1rem;
		grid-area:img;
	}
	.friend-request {
		display:grid;
		grid-template-columns: auto;
		max-height:6rem;
		font-size: 1rem;
	}

}




