* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main--container {
    position: absolute;
    display: flex;
    /* width: 100%;
    height: 100%; */
    /* align-content: center;
    align-items: center; */
    /* pointer-events: none; */
}

.main--title {
    /* color: white; */
    font-size: 2em;
    /* font-family: 'Rubik Glitch', cursive;
    font-weight: 100;
    margin-left: 10%;
    width: 510px;
    line-height: 90px;
    transform: translateX(30%);
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.55, 0.055, 0.675, 0.19); */
}

.main--title.ended {
    transform: translateX(0);
    opacity: 1;
    mix-blend-mode: soft-light;
}

.main--title.ended:after {
    /* This value is the OPPOSITE color of our background */
    color: rgb(0, 255, 255);

}


/* @media only screen and (max-width: 660px) {
	.main--title{
		font-size: 5em;
		line-height: 0.8em;
	}
} */

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;

}

/* .login-container {
    box-sizing: border-box;
} */

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    /* padding: 30px 40px; */
    display: flex;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.wrapper .login-form {
    display: inline;
    margin: auto;
    padding: 20px 0 20px 0;
}

.wrapper .register-form {
    display: none;
    margin: auto;
    padding: 20px 0 20px 0;
}

.wrapper .reset-password-form {
    display: none;
    margin: auto;
    padding: 20px 0 20px 0;
}

.wrapper .confirm-reset-password-form {
    margin: auto;
    padding: 20px 0 20px 0;
}

.wrapper .reset-password-form .reset-password-close-button {
    /* padding:2px 5px; */
    position: absolute;
    border: none;
    top: 10px;
    right: 10px;
    background: transparent;
}

.wrapper .reset-password-form .reset-password-close-button:hover {
    /* padding:2px 5px; */
    background: transparent;
    color: rgba(255, 255, 255, .2);
    cursor: pointer;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    /* transform: translateY(-50%); */
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.seperator-link p {
    color: rgba(255, 255, 255, .2);
    text-decoration: none;
    text-align: center;
    margin: 20px 0 15px;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.wrapper .login-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px;
}

.login-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}


.login-link p a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Circular loading home */
.loading-container {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
    /* Adjust height as needed */
}

.loading {
    border: 12px solid #1d13135c;
    border-top: 12px solid #ffffff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* End of cirular loading */

.verify-dialog {
    text-align: center;
    display: none;
    margin: auto;
    padding: 20px 0 20px 0;
    display: none;
}

.verify-dialog a {
    color: #fff;
    text-decoration: underline;
    font-weight: 600;
    transition: color 0.3s ease;
}

.verify-dialog a:hover {
    text-decoration: underline;
    color: #1c76d7;
}