<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login/login_styles.css' %}">
    {% csrf_token %}
    <title>Fetch API Example with Form</title>
</head>
<body>
    <div class="main--container">
        <!-- <div>
            <h1 class="main--title">Login API Example with Form</h1>
        </div> -->
        <div id="form"></div>
        <div class="register-link">
            <p>Don't have an account? <a id="register-btn" type="button" data-route="/register">register</a></p>
        </div>
    </div>
</body>

  <script>
   

   /* document.addEventListener('DOMContentLoaded', function () {
        const logout = document.getElementById('logout');
        logout.addEventListener('click', function (event) {
            event.preventDefault(); // Prevent the default form submission

            const apiUrl = 'http://127.0.0.1:8000/api/auth/logout/';

        // Using Fetch API to send a POST request
        fetch(apiUrl, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            "X-CSRFToken": getCookie('csrftoken')
          },
        })
          .then(response => {
            // Check if the response status is OK (status code 200-299)
            if (!response.ok) {
              throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json(); // Parse the JSON in the response
          })
          .then(data => {
            // Handle the data from the response
            sessionStorage.removeItem("Authorization");
            console.log('Data from server:', data);
          })
          .catch(error => {
            // Handle any errors that occurred during the fetch
            console.error('Fetch error:', error);
          });   
      });
    });*/
  </script>
  

  {% comment %} <script>
    if (HTMLScriptElement.supports('importmap')) {
        console.log("importmap works")
    } else {
    console.log("importmap does not works")
    }
  </script> {% endcomment %}
  <script type="importmap">
    {
        "imports": {
            "three": "https://unpkg.com/three@0.162.0/build/three.module.js",
            "three/addons/": "https://unpkg.com/three@0.162.0/examples/jsm/"
        }
    }
  </script>
  <script type="module" src="{% static 'login/login_canvas.js' %}"></script>
  <script src="{% static 'src/index.js' %}"></script>
</html>