<!DOCTYPE html>

{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login/login_styles.css' %}">
    {% csrf_token %}
    <title>Fetch API Example with Form</title>
</head>

<body>
    <div id="custom-data" data-key="{{ key }}"></div>
    <div class="main--container">
        <!-- <div>
            <h1 class="main--title">Login API Example with Form</h1>
        </div> -->
        <div class="wrapper">
            <div class="login-form" id="login-form">
                <form id="sendOTP">
                    <h1>Login</h1>
                    <div id="login-input-fields">
                        <div class="input-box">
                            <input type="text" id="email-login" placeholder="E-Mail" required>
                        </div>

                        <div class="input-box">
                            <input type="password" id="password-login" placeholder="Password" required
                                autocomplete="on">
                        </div>
                    </div>
                    <div class="remember-forgot">
                        <label><input type="checkbox"> Remember me</label>
                        <a id="reset-password-btn" type="button">Forgot password?</a>
                    </div>
                    <button type="submit" class="btn">Login</button>
                    {% comment %}
                    Use js to send post request to api endpoint , display set to none when register button pressed
                    and fields are reset after login
                    {% endcomment %}
                    <div class="register-link">
                        <p>Don't have an account? <a id="register-btn" type="button">Register</a></p>
                    </div>

                    <div class="seperator-link">
                        <p>________________________________________</p>
                    </div>

                    <div class="foutytwo-link">
                        <a href="#" id="start"><img src="{% static '42Logo.png'%}"
                                style="width:42px;height:42px;border-radius:10px;"></a>
                    </div>
                </form>
            </div>
            <div class="register-form" id="register-form">
                <form id="acc-register">
                    <h1>Registration</h1>
                    <div id="register-input-fields">
                        <div class="input-box">
                            <input type="text" id="username" placeholder="Username" required>
                        </div>
                        <div class="input-box">
                            <input type="text" id="email-reg" placeholder="E-Mail" required>
                        </div>

                        <div class="input-box">
                            <input type="password" id="password1" placeholder="Password" required autocomplete="off">
                        </div>

                        <div class="input-box">
                            <input type="password" id="password2" placeholder="Repeat Password" required
                                autocomplete="off">
                        </div>
                    </div>
                    <button type="submit" class="btn">Register</button>
                    {% comment %}
                    Use js to send post request to api endpoint and alert email sent, display set to none and fields are
                    reset
                    when email sent or login button pressed
                    {% endcomment %}
                    <div class="login-link">
                        <p>Already have an account? <a id="login-btn" type="button">Login</a></p>
                    </div>
                </form>
            </div>
            <div class="reset-password-form" id="reset-password-form">
                <form id="reset-password">
                    {% comment %} <span class="reset-password-close-button" id="reset-password-close-button"><img
                            src="{% static " close-btn.png" %}"></img></span> {% endcomment %}
                    <span class="reset-password-close-button" id="reset-password-close-button">x</img></span>
                    <h1>Reset Password</h1>
                    <button class="reset-password-close-button" type="button">
                    </button>
                    <div id="reset-password-input-fields">
                        <div class="input-box">
                            <input type="text" id="email-reset" placeholder="E-Mail" required>
                        </div>

                    </div>
                    <button type="submit" class="btn">Send email</button>
                    {% comment %}
                    Use js to send post request to api endpoint and alert email sent, display set to non eand fields are
                    reset
                    when email sent or close button pressed
                    {% endcomment %}
                </form>
            </div>
            <div class="verify-dialog" id="verify-success">
                <img src="{% static 'images/green_check.png' %}" height="80" width="80">
                <h1>Verification successful!</h1>
                <div class="login-link">
                    <a id="home-btn" type="button" href="/">Go back to home</a>
                </div>
            </div>
            <div class="verify-dialog" id="verify-failed">
                <img src="{% static 'images/red_fail.png' %}" height="80" width="80">
                <h1>Verification failed!</h1>
                <div class="login-link">
                    <a id="home-btn" type="button" href="/">Go back to home</a>
                </div>
            </div>
        </div>
    </div>
</body>

{% comment %}
<script>
    if (HTMLScriptElement.supports('importmap')) {
        console.log("importmap works")
    } else {
        console.log("importmap does not works")
    }
</script> {% endcomment %}
<script type="importmap">
    {
        "imports": {
            "three": "https://unpkg.com/three@0.162.0/build/three.module.js",
            "three/addons/": "https://unpkg.com/three@0.162.0/examples/jsm/"
        }
    }
  </script>
<script type="module" src="{% static 'login/login_canvas.js' %}"></script>
<script type="module" src="{% static 'login/home.js' %}"></script>
{% comment %}
<script src="{% static 'src/index.js' %}"></script> {% endcomment %}

</html>